
#welcome {
    display: flex;
    grid-template-columns: 350px;
    //height: 100vh;   

    .welcome-menu {
        background: white;
        padding: 50px;
        position: relative;       
        
        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            img {
                max-width: 150px;

            }
        }
        .menu {
            margin-bottom: 50px;
            .menu-title {
                text-transform: uppercase;
                color: blue;
                font-weight: 700;
                font-size: 1.2rem;
                border-bottom: 1px solid #e2eaef;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .links{
                li{
                    a{
                        font-size: 1.1rem;
                        color: black;
                        font-weight: 700;
                        text-decoration: none;
                        margin-bottom: 1.4rem;
                        display: block;
                        transition: color .3s ease-in-out;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
        .social-icons{
            display: flex;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c2c8cc;
                font-size: .9rem;
                text-decoration: none;
                color: white;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .location{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-self: center;
            //position:absolute;
            height: auto;
            bottom: 0;
            .address{
                color: #7a8d99;
                margin-bottom: 20px;
                font-size: .9rem;                
            }
            .phone-number{
                a{
                    color: 0971cd;
                    font-size: 1rem;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }    
    .welcome-jumbo{  
    //max-width: calc(100vw - 350px);     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e5799; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #2989d8 50%, #7db9e8 68%, #7db9e8 68%, #207cca 100%, #3ea0f7 101%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 50%,#7db9e8 68%,#7db9e8 68%,#207cca 100%,#3ea0f7 101%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #1e5799 0%,#2989d8 50%,#7db9e8 68%,#7db9e8 68%,#207cca 100%,#3ea0f7 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;
    padding: 100px;
    .status{
        display: inline-block;
        padding: 5px;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        background: black;
        border-radius: 5px;
        align-self: flex-start;
        margin-bottom: 20px;
    }
    h1{
        font-size: 1.6rem;
        font-weight: 900;        
        align-self: flex-start;
        color: white;
        margin-bottom: 100px;
    } .junk-food{
        width: 100%;
        max-width: 1000px;
        //animation: moveUpandDown 7s linear infinite;
        position: relative;        
    }
    //@at-root moveUpandDown {
        //0%, 100%{
        //    bottom: 0;
      //  }
     //   50%{
            //bottom: 30px;
    //    }
    //}
    }        
}