#welcome {
    display: flex;
    //grid-template-columns: 350px;
    //width: 100%;
    //height: 100vh;
    

    .welcome-menu {
        background: white;
        padding: 50px;
        position: relative;
        
        
        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            img {
                max-width: 150px;

            }
        }
        .menu {
            margin-bottom: 50px;
            .menu-title {
                text-transform: uppercase;
                color: blue;
                font-weight: 700;
                font-size: 1.2rem;
                border-bottom: 1px solid #e2eaef;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .links{
                li{
                    a{
                        font-size: 1.1rem;
                        color: black;
                        font-weight: 700;
                        text-decoration: none;
                        margin-bottom: 1.4rem;
                        display: block;
                        transition: color .3s ease-in-out;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
        .social-icons{
            display: flex;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c2c8cc;
                font-size: .9rem;
                text-decoration: none;
                color: white;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .location{
            align-self: flex-end;
            position:absolute;
            .address{
                color: #7a8d99;
                font-size: 18px;
                margin-bottom: 20px;
            }
            .phone-number{
                a{
                    color: 0971cd;
                    font-size: 2rem;
                    font-weight: 300;
                    text-decoration: none;
                }
            }
        }
    }
    
    .welcome-jumbo{
    display: flex;
    background: red;
    width: 100%;
    
    
    }        
}
