#welcome{
    display: flex;
    grid-template-columns: 350px;
    width: 100%;
    
    .welcome-menu{
        background: white;
        width: 300px;
    }
    .welcome-jumbo{
        background: red;
        width: 100%;
    }
}